.gallery-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.gallery-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery-wrapper .wide {
  grid-column: span 2;
}

.gallery-wrapper .tall {
  grid-row: span 2;
}

.gallery-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
  display: inline-block;
  border-radius: 5px;
}
